<!-- NAVBAR & FOOTER -->

{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <nav class="border-b border-gray-300">
        <div class="max-w-6xl mx-auto py-4 px-6">
            <div class="flex justify-between">
                <a href="/" class="flex items-center">
                    Click Coffee
                </a>

                <ul class="flex items-center space-x-4">
                    <a href="/"><li>Shop</li></a>
                    <a href="/"><li>About</li></a>
                    <a href="/create-product-entry"><li>Add Product</li></a>
                </ul>

                <!-- Dropdown -->
                <div class="relative inline-block">
                    <button id="dropdownButton" data-username="{{ current_user.username }}" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50" aria-expanded="true" aria-haspopup="true">
                        {% if current_user %}
                            Hello, {{ current_user.username }}
                        {% else %}
                            Hello, Guest
                        {% endif %}

                        <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 10.66l3.71-3.43a.75.75 0 011.06 1.06l-4.25 3.93a.75.75 0 01-1.06 0L5.21 8.29a.75.75 0 01.02-1.08z" clip-rule="evenodd" />
                        </svg>
                    </button>
            
                    <div id="dropdownMenu" class="hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-gray-100 text-sm text-gray-700 px-4 py-2" role="menu" aria-orientation="vertical" aria-labelledby="dropdownButton">
                        <div class="py-1" role="none">
                            <a href="#" class="block hover:bg-gray-200" role="menuitem">Profile</a>
                            
                            <p class="py-2">Last Login : {{ last_login }}</p>
                            <a href="{% url 'main:logout' %}">
                                <button type="submit" class="w-full text-left hover:bg-gray-200" role="menuitem">
                                    Logout
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <body>
        {% block content %} {% endblock content %}
    </body>

    <footer class="fixed bottom-0 left-0 right-0 md:flex justify-between bg-gray-100 px-6 py-3">
        <p>Nashwa Ghania (2306241770) PBP - F</p>
        <p>&copy;2024 Click Coffee. All rights reserved.</p>
    </footer>

    <!-- Scripts -->
    <script>
        document.getElementById('dropdownButton').addEventListener('click', function () {
            var dropdownMenu = document.getElementById('dropdownMenu');
            var username = document.getElementById('dropdownButton').getAttribute('data-username'); // Mendapatkan username user yang sedang login
            if (username){
                if (dropdownMenu.classList.contains('hidden')) {
                    dropdownMenu.classList.remove('hidden');
                } else {
                    dropdownMenu.classList.add('hidden');
                }
            }
        });

        // Close Dropdown
        window.onclick = function(event) {
            var dropdownButton = document.getElementById('dropdownButton');
            var dropdownMenu = document.getElementById('dropdownMenu');
            if (!dropdownButton.contains(event.target)) {
                dropdownMenu.classList.add('hidden');
            }
        }
    </script>
</html>