<!-- LOGIN PAGE -->

{% extends 'base.html' %}
{% block content %}
<section>
    <div class="flex justify-center bg-[#BFDBFE] pt-24 pb-36">
        <div class="w-3/4 md:w-1/2 px-12 md:px-16 bg-white p-12 shadow-xl rounded-xl">
            <div class="flex justify-center">
                <h1 class="mb-6 text-xl font-bold">Login</h1>
            </div>
    
            <form action="." method="post" class="space-y-3">
                {% csrf_token %}
                <div>
                    <label>Username</label>
                    <input type="text" name="username" class="w-full mt-2 py-2 md:py-4 px-6 bg-gray-100 border border-black rounded-xl text-sm md:text-base hover:border-[#3B3D77]">
                </div>

                <div>
                    <label>Password</label>
                    <input type="password" name="password" class="w-full mt-2 py-2 md:py-4 px-6 bg-gray-100 rounded-xl border border-black text-sm md:text-base hover:border-[#3B3D77]">
                </div>

                <!-- Print Error Gagal Login -->
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="py-1 md:py-3 px-6 bg-red-200 text-red-800 rounded-xl">
                                <p>{{ message }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if messages %}
                        {{ messages.clear }}
                    {% endif %}
                {% endif %}

                <div>
                    <button class="py-2 md:py-4 px-5 md:px-6 rounded-xl text-white bg-[#3B3D77] hover:bg-black">
                        Submit
                    </button>
                </div>
            </form>

            <p class="py-4">Don't have an account? <a href="{% url 'main:signup' %}" class="text-blue-400">Sign Up</a></p>
        </div>

    </div>
</section>
{% endblock content %}