<!-- ADD PRODUCT PAGE -->

{% extends 'base.html' %} 
{% block content %}
<section class="bg-blue-200 min-h-screen flex justify-center items-center pt-16 pb-32 md:py-16 md:pb-24">
    <div class="bg-gray-100 shadow-xl rounded-lg w-3/4 md:w-1/2 p-8">
        <h1 class="text-base md:text-xl font-bold mb-6 text-center text-gray-800">Add New Product Entry</h1>
        
        <form method="POST" class="space-y-6">
            {% csrf_token %}
            
            <!-- Render form fields -->
            <div class="block text-sm md:text-base font-semibold pr-3">
              <label for="id_name" class="">Name :</label>
              <div class="pb-3">
                  {{ form.name }}
              </div>

              <label for="id_price" class="">Price :</label>
              <div class="pb-3">
                  {{ form.price }}
              </div>

              <label for="id_description" class="">Description :</label>
              <div class="pb-3">
                  {{ form.description }}
              </div>

              <label for="id_stock" class="">Stock :</label>
              <div class="pb-3">
                  {{ form.stock }}
              </div>
            </div>
            
            <!-- Submit button -->
            <div class="flex justify-center">
              <button class="text-xs md:text-base bg-blue-500 text-white font-semibold px-6 py-3 rounded-lg hover:bg-blue-600 transition duration-300">
                  Add Product Entry
              </button>
            </div>
        </form>
    </div>
</section>

<style>
  textarea, input {
    resize: none;
    width: 100%;
    border: 1px solid #d1d5db; /* Border abu-abu */
    border-radius: 0.375rem; /* Rounded corners */
    padding-left: 10px; /* Menambahkan padding */
    padding-top: 2px;
    padding-bottom: 2px;
  }

</style>
{% endblock %}
