<!-- SIGN UP PAGE -->

{% extends 'base.html' %}
{% block content %}
<section>
    <div class="flex justify-center mt-12 pt-12 pb-32">
        <div class="w-3/4 md:w-1/2 px-12 md:px-16 bg-gray-100 p-12 rounded-xl">
            <div class="flex justify-center">
                <h1 class="mb-6 text-xl font-bold ">Sign up</h1>
            </div>
    
            <form action="." method="post" class="space-y-3">
                {% csrf_token %}
                <div>
                    <label>Username</label>
                    <input type="text" name="username" class="w-full mt-2 py-2 md:py-4 px-6 bg-white rounded-xl text-sm md:text-base">
                </div>

                <div>
                    <label>Password</label>
                    <input type="password" name="password1" class="w-full mt-2 py-2 md:py-4 px-6 bg-white rounded-xl text-sm md:text-base">
                </div>

                <div>
                    <label>Confirm Password</label>
                    <input type="password" name="password2" class="w-full mt-2 py-2 md:py-4 px-6 bg-white rounded-xl text-sm md:text-base">
                </div>

                <!-- Print Error Gagal Sign Up -->
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="py-1 md:py-3 px-6 bg-red-200 text-red-800 rounded-xl">
                                <p>{{ message }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <div>
                    <button class="py-2 md:py-4 px-5 md:px-6 rounded-xl text-white bg-blue-300 hover:bg-blue-400">
                        Submit
                    </button>
                </div>
            </form>

            <p class="py-4">Already have an account? <a href="{% url 'main:login' %}" class="text-blue-400">Login</a></p>
        </div>

    </div>
</section>
{% endblock content %}