<!-- SIGN UP PAGE -->

{% extends 'base.html' %}
{% block content %}
<section>
    <div class="flex justify-center mt-12">
        <div class="max-md:w-3/4 w-1/2 bg-gray-100 px-16 p-6 rounded-xl">
            <div class="flex justify-center">
                <h1 class="mb-6 text-xl font-bold ">Sign up</h1>
            </div>
    
            <form action="." method="post" class="space-y-3">
                {% csrf_token %}
                <div>
                    <label>Username</label>
                    <input type="text" name="username" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
                </div>

                <div>
                    <label>Password</label>
                    <input type="password" name="password1" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
                </div>

                <div>
                    <label>Confirm Password</label>
                    <input type="password" name="password2" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
                </div>

                <!-- <div class="py-3 px-6 bg-red-200 text-red-800 rounded-xl">
                    <p>An error.</p>
                </div> -->

                <div>
                    <button class="py-4 px-6 rounded-xl text-white bg-blue-300 hover:bg-blue-400">
                        Submit
                    </button>
                </div>
            </form>

            <p class="py-4">Already have an account? <a href="{% url 'main:login' %}" class="text-blue-400">Login</a></p>
        </div>

    </div>
</section>
{% endblock content %}